<div id="tebleView" class="search-results">
 
    <div class="row search-results-table-heading">
        <div class="col-md-2">
            Område
        </div>
        <div class="col-md-2">
            Data
        </div>
        <div class="col-md-3">
            Spørring
        </div>
        <div class="col-md-1">
            Antall
        </div>
        <div class="col-md-1">
            Totalt
        </div>
        <div class="col-md-2">
            % av totalt
        </div>
    </div>
    <div class="menu-separator search-results-table-heading"></div>
    <div class="row">
        <div class="col-md-2">
            Akershus
        </div>
        <div class="col-md-2">
            Set offentlige kartgrunnlaget
        </div>
        <div class="col-md-3">
            Antall DOK-datasett valgt og tillegg pr kommune
        </div>
        <div class="col-md-1">
            79
        </div>
        <div class="col-md-1">
            141
        </div>
        <div class="col-md-2">
            56
        </div>
    </div>
</div>
