<h3>Rapportverktøy</h3>

<div class="row">
    <div class="col-md-12">
        @Html.Partial("_Selection")
    </div>
</div>

<div class="row" style="margin-bottom: 40px;">
    <div class="col-md-12">
        @Html.Partial("_Graph")
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        @Html.Partial("_Table")
    </div>
</div>

<div class="row" style="margin-bottom: 30px;">
    <div class="col-md-12">
        @Html.Partial("_Map")
    </div>
</div>

