@model IEnumerable<Kartverket.ReportGenerator.Models.MetadataEntry>

@{
    ViewBag.Title = "Report";
}

<h3>Rapportverktøy</h3>
<p>Se også <a href="~/Statistics/">innholdsstatistikk</a></p>
<div class="row">
    <div class="col-md-12">
        @Html.Partial("_Selection")
    </div>
</div>

