<?xml version="1.0" encoding="UTF-8"?>
<appSettings>
  <add key="SchemaUNCpath" value="" />
  <add key="SchemaRemoteUrl" value="http://skjema.test.geonorge.no/SOSI/produktspesifikasjon/" />
  <add key="SchemaRemoteSynchEnabled" value="true" />
  <add key="LogApi" value="http://api.dev.geonorge.no/endringslogg/" />
  <add key="LogApiKey" value="" />
  <add key="GeoID:ClientId" value="" />
  <add key="GeoID:ClientSecret" value="" />
  <add key="GeoID:Authority" value="https://test.geoid.no/oauth2/authorize" />
  <add key="GeoID:Issuer" value="https://test.geoid.no:443/oauth2/token" />
  <add key="GeoID:RedirectUri" value="https://xxx/signin-oidc" />
  <add key="GeoID:PostLogoutRedirectUri" value="https://xxx/signout-callback-oidc" />
  <add key="GeoID:MetadataAddress" value="https://test.geoid.no/oauth2/oidcdiscovery/.well-known/openid-configuration" />
  <add key="GeoID:BaatAuthzApiUrl" value=""/>
  <add key="GeoID:BaatAuthzApiCredentials" value=""/>
</appSettings>